h1{
    color : red;
}
#heading-2{
    color:blue;
}
.heading{
    color:seagreen;
}
.para{
    color: peru;
    border:2px solid black;
    padding: 20px;
}
.navbar{
    border-style: solid;
    border-color:black;
    padding:25px;
    background: lavender;
    text-align: center;

}
.navbar a{
    color: black;
    padding:30px;
    text-decoration: none;

}
.navbar a:hover{
    background-color: blanchedalmond;
}

.card{
    width:300px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:20px;
    text-align:center;
    margin:20px auto;
    
}
.card img{
    width:200px;
    text-align:left;

}